.pagination-sm(
    ng-show="showPagination"
    items-per-page="itemsPerPage"
    boundary-links="true"
    direction-links="true"
    total-items="totalItems"
    ng-model="currentPageNumeric"
    previous-text="&lsaquo;"
    next-text="&rsaquo;"
    first-text="&laquo;"
    last-text="&raquo;"
    max-size="paginationItems"
    ng-class="{ 'grid-refreshing' : updating }"
)
