div.record-list(layout="column")

    record-list-toolbar

    record-list-refresh-panel

    record-list-pagination

    .grid-control(
        ng-class="{ 'show-options' : showOptions, 'has-options' : hasOptionsBar, 'grid-refreshing' : updating }"
        layout="column"
    )

        md-toolbar.grid-row.md-theme-light(layout="row")
            .grid-header-cell(
                ng-repeat="column in columns"
                md-colspan="column.colSpan"
                ng-class="column.headerClass"
                flex="column.width"
            )
                span(
                    ng-click="sortColumn(column)"
                    ng-bind="column.title | translate"
                    ng-class="{ 'sort-up' : column.sort == 'up', 'sort-down' : column.sort == 'down' }"
                )
                span.toggle-search-button(ng-if="hasRecordSearch && column == columns[columns.length-1]")
                    ng-button(ng-click="toggleRecordSearch()")
                        span.glyphicon(ng-class="{ 'glyphicon-chevron-up' : recordSearchVisible, 'glyphicon-search' : !recordSearchVisible }")

        .grid-row(layout="row")
            .grid-header-cell(ng-if="hasRecordSearch" ng-show="recordSearchVisible" flex)
                input.form-control(type="text" placeholder="Enter text to search" ng-model="getRecordListScope().recordSearchText")
            .grid-header-cell(ng-if="hasRecordSearch" ng-show="recordSearchVisible")
                ng-button(ng-click="searchRecords()")
                    span.glyphicon.glyphicon-search

        .grid-row(
            ng-repeat-start="row in rows"
            ng-class="{ 'odd': row.isOdd }"
            layout="row"
            ng-click="onClickOptions(row, null, $event)"
        )

            .grid-cell-options(
                ng-if="hasOptionsBar"
                ng-class="columns[0].cellClass"
                cell-show-options=''
            )
                span

            .grid-cell(
                ng-repeat="column in columns"
                ng-class="column.cellClass"
                flex="column.width"
            )
                span(
                    bind-cell="column"
                    row="row"
                )

        md-divider(ng-repeat-end)

    record-list-pagination

    record-list-toolbar
