div.record-list(layout="column")

    record-list-toolbar

    record-list-refresh-panel

    record-list-pagination(
        page-size="getPageSize()"
        record-count="getRecordCount()"
        current-page="currentPage"
    )

    .grid-control(
        ng-class="{ 'has-options' : hasOptionsBar, 'grid-refreshing' : updating, 'sortable': columnsSortable }"
        layout="column"
    )

        md-toolbar.grid-row.md-theme-light(layout="row")
            .grid-header-cell(
                ng-repeat="column in columns"
                md-colspan="column.colSpan"
                ng-class="column.headerClass"
                flex="column.width"
            )
                span(
                    ng-click="sortColumn(column)"
                    tabindex="-1"
                    role="option"
                    ng-bind="column.title | translate"
                    ng-class="{ 'sort-up' : column.sort == 'up', 'sort-down' : column.sort == 'down' }"
                )
                span.toggle-search-button(ng-if="hasRecordSearch && $last")
                    ng-button(ng-click="toggleRecordSearch()")
                        span.glyphicon(ng-class="{ 'glyphicon-chevron-up' : recordSearchVisible, 'glyphicon-search' : !recordSearchVisible }")

        .grid-row(layout="row")
            .grid-header-cell(ng-if="hasRecordSearch" ng-show="recordSearchVisible" flex)
                input.form-control(type="text" placeholder="Enter text to search" ng-model="getRecordListScope().recordSearchText")
            .grid-header-cell(ng-if="hasRecordSearch" ng-show="recordSearchVisible")
                ng-button(ng-click="searchRecords()")
                    span.glyphicon.glyphicon-search

        .grid-row(
            ng-repeat-start="row in rows"
            ng-class="{ 'odd': $odd }"
            layout="row"
            ng-click="onClickOptions(row, $event)"
            role="option"
            tabindex="-1"
        )
            .grid-cell(
                ng-repeat="column in columns"
                ng-class="column.cellClass"
                layout="row"
                flex="column.width"
            )
                .grid-cell-options(
                    ng-if="hasOptionsBar && $first"
                )
                    md-icon more_vert

                span(
                    bind-cell="column"
                    row="row"
                    flex
                )

        div(
            layout="row"
            ng-if="hasOptionsBar && row.showOptions"
        )
            md-button.md-raised(
                ng-repeat="action in actions"
                ng-click="onExecuteAction(action, row)"
                ng-show="isActionVisible(action, row)"
                aria-label="action.title"
            )
                span(ng-bind="action.title")

        md-divider(ng-repeat-end)

    record-list-pagination(
        page-size="getPageSize()"
        record-count="getRecordCount()"
        current-page="currentPage"
    )

    record-list-toolbar
